html {
    box-sizing: border-box;
    margin: 0;
}
    
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}


#main-container {
    display: flex;
    background: #393e46;
    min-height: 100%;
    align-items: center;
    padding-bottom: 4rem;
    border: 5px solid #222831;
}

.main-item {
    flex: 1 1 50%;
    padding: 2rem 0;
}

#header {
    width: 100%;
    text-align: center;
    height: 10vh;
    margin: 1rem 0;
}

.ghibli-logo {
    height: 100%;
    text-decoration: none;
}

.ghibli-logo:focus {
    outline: 0;
}
/* Logo and film cover */

.cover {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.pic-item {
    width: 50%;
}

.film-cover {
    margin: .5rem;
    border: 5px solid #222831;
}

.music {
    color: #eeeeee;
    margin-top: .5rem;
}

/* Movie description section */

.film-information {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.film-item {
    width: 50%;
    color: #eeeeee;
}

.title {
    color: #00adb5;
    font-family: Lobster, Arial, sans-serif;
    font-size: 3rem;
    margin: 1rem;
}

.director, .producer, .release-date {
    font-family: Cabin, Arial, sans-serif;
    font-size: 1rem;
    margin: .5rem;
}

.description {
    font-family: Indie Flower, Arial, sans-serif;
    font-size: 1rem;

}

/* footer */

.footer {
    text-align: center;
    color: #eeeeee;
    background: #222831;
}

.footer-text {
    margin: 0;
    padding: 1rem 0;
    font-family: Cabin, Arial, sans-serif;
    font-size: .8rem;
}

/* Simple transition */

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* media queries */

@media all and (max-width: 1024px) {
    #main-container {
        flex-direction: column;
    }

    .main-item {
        flex: 1 1 100%;
    }
}